.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;

  .switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .lang {
    margin-left: 20px;
    color: var(--inverted-primary-color);
  }

  .collapseButton {
    position: absolute;
    right: -32px;
    bottom: 32px;
    z-index: 10;
  }

  .items {
    margin-left: 30px;
    margin-top: 20px;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
    color: var(--inverted-primary-color);
  }
}

.SidebarRedesigned {
  width: 220px;
  border-radius: 32px;
  background: var(--light-bg-redesigned);
  height: 100%;
  position: relative;

  .appLogo {
    padding-top: 20px;
  }

  .items {
    margin-top: 20px;
  }

  .collapsedBtn {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;
    transform: rotate(90deg);
  }

  .switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 16px;
  }
}

.collapsedRedesigned {
  width: 50px;

  .switchers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .items {
    display: flex;
    align-items: center;
  }

  .lang {
    margin-left: 0;
    color: var(--inverted-primary-color);
  }

  .collapsedBtn {
    transform: rotate(-90deg);
  }
}
