:root,
.app.light {
  --bg-color: #e8e8ea;
  --primary-color: #800880;
  --secondary-color: #ce801a;
  --inverted-bg-color: #0e0e75;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
