.Button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 8px 16px;

  &:hover {
    color: var(--accent-redesigned);

    .addonLeft,
    .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--primary-color);
  background: none;
  color: var(--primary-color);
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  border-radius: 34px;
}

.square {
  padding: 0;
}

.square.m {
  height: var(--font-line-m);
  width: var(--font-line-m);
  font: var(--font-m);
}

.square.l {
  height: var(--font-line-l);
  width: var(--font-line-l);
  font: var(--font-l);
}

.square.xl {
  height: var(--font-line-xl);
  width: var(--font-line-xl);
  font: var(--font-xl);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
}

.fullwidth {
  width: 100%;
}

.addonLeft,
.addonRight {
  display: flex;
  align-items: center;
}

.addonLeft,
.addonRight svg {
  color: var(--hint-redesigned);
}

.withAddon {
  padding: 0 16px;
}
